@import "~font-awesome/less/font-awesome";

*,
:before,
:after {
  box-sizing: border-box;
}

* {
  outline: none !important;
}

html, body {
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  overflow: hidden;
}

.app, #root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#root {
  flex: 1;
}
